@import url("fonts/PTSerif-Bold.ttf");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif&display=swap');
@import url('fonts/FredokaOne-Regular.ttf');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: #447fe1 solid 1px
}

body .container-fluid {
    border: #447fe1 solid 1px;
    padding-right: 0;
    padding-left: 0;
}

.first-section {
    background-image: url("pictures/seaWihtSalt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    height: auto;

}


#first-h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: rgb(254, 193, 7);
}

#first-h5 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.second-section {
    box-sizing: border-box;
    background-color: #F8D7DA;
    background-color:rgb(248, 215, 218);

}

.second-section .problem-text {
    /*border: #447fe1 1px solid;*/
    font-size: 20px;
    line-height: 22px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
}


.second-section .list-group .list-group-item.list-group-item-danger {
    border: 0;
}

#second-h1 {
    font-family: 'Fredoka One', cursive;
    color:rgb(132, 32, 41);
}

#h3-parent {
    overflow-y: hidden;
    display: block;
}

#h3-parent #first-h3 {
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    from {
        transform: translateY(100px)
    }
    to {
        transform: translateY(0)
    }
}

#first-span, #second-span, #third-span {
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes example {
    0% {
        top: 0px;
    }
    50% {
        top: 0px;
        color: rgb(254, 193, 7);
        font-size: 150%
    }
    100% {
        top: 0px;
        color: rgb(254, 193, 7);
        font-size: 150%
    }
}

.third-section {
    background-color: rgbA(123, 168, 231, 0.1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

#third-h1 {
    color: rgba(45, 104, 76, 0.5);
    font-family: 'Fredoka One', cursive;
    transform: rotate(-2deg);
    text-shadow: rgba(0,0,0,0.5) -1px 0,
    rgba(0,0,0,0.3) 0 -1px,
    rgba(45, 104, 76, 0.5) 0 2px,
    rgba(0,0,0,0.3) -1px -1px;



}

.forth-section {
    background-color: #D1E7DD;
}
.forth-section .solution-text {
    font-size: 20px;
    line-height: 22px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
}

.forth-section .list-group .list-group-item.list-group-item-success {
    border: 0;
}

@media screen and (max-width: 575px) {
    .problem-card {
        margin-bottom: 10px;
    }

    #first-h1 {
        font-size: 40px;
        line-height: 40px;
        color: rgb(255, 255, 255);
    }
}
